<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lightcone.common">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <application android:allowBackup="true">

        <activity
            android:name="com.lightcone.ad.AdActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.lightcone.feedback.FeedbackActivity"/>
        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.facebook.ads.InterstitialAdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />

        <!-- This meta-data tag is required to use AppLovin. -->
        <meta-data
            android:name="applovin.sdk.key"
            android:value="phaab_x38JMkA3RQukQR08luRTqVAk-zPTX0TS4hmQPxTsMMaooawWSL_Hs90r7POfQx6Udtw1pOu9lSyW2s2V" />

        <activity
            android:name="com.applovin.adview.AppLovinInterstitialActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />
    </application>

</manifest>
